<div class="snap-drawer snap-drawer-left" id="left-drawer">
  <nav>
    <button class="new" type="button">New &oplus;</button>
  </nav>
  <ul id="notes" class="list">

    <%
    _.each( notes, function( note ) {
    %>
      <li data-id="<%= note.id %>">
        <a href="/note/<%= note.id %>" class="load">
          <span class="title"><%- note.title %></span>
        </a>
        <input class="newTitle" type="text" style="display:none;" />
        <button class="edit" type="button">&#9998;</button>
      </li>
    <%
      });
    %>

  </ul>
</div>
