<!DOCTYPE html>
<html manifest="mimir.manifest">
    <head>
        <meta charset="utf-8">
        <title>Mímir</title>

        <!-- Sets initial viewport load and disables zooming    -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Set Apple icons for when prototype is saved to home screen -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/touch-icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/touch-icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/touch-icons/apple-touch-icon-57x57.png">

        <link rel="stylesheet" href="/css/mimir.min.css">

    </head>
    <body id="app">


    <!-- 
    Templates
    -->
    <script type="text/template" id="">
      <div id="content" class="snap-content">

        <header class="bar-title">
            <button class="button" id="toggle-left">&#9776;</button>
            <h1 class="title">Mímir</h1>
        </header>

        <div class="content">
            <div class="content-padded">
                <div id="editor">
                  <p># Mímir: Markdown Editor</p>
                  <p>_Hi! This is a markdown editor_</p>
                  <p>What is markdown you ask? Well you can find out more information here; [Markdown](http://daringfireball.net/projects/markdown/)</p>
                  <p>- This</p>
                  <p>- is a</p>
                  <p>- list</p>
                  <p>__Bolded content__</p>
                  <p>~~ and strikethroughs~~</p>
                </div>
            </div>
        </div>
      </div>
    </script>



    <script type="text/template" id="note-list">
      <div class="snap-drawers">
        
        <div class="snap-drawer snap-drawer-left" id="left-drawer">
          <nav>
          < a href="#new-note" class="new-note">New &oplus;</a>
          </nav>
          <ul id="notes" class="list">
            
            <% _.each(note, function(value, key, list) {
              <li>
                <a href="#load" class="load">
                  <span class="title"><%- title %></span>
                  <span class="edit">&#9998;</span>
                </a>
              </li>
            <% }); %>

          </ul>
        </div>
      
        /*<div class="snap-drawer snap-drawer-right">
          <div class="settings">
            <section>
              <h2>About</h2>
              <p>This is an application for taking notes, specifically with Markdown.</p>
              <p>Developed by <a href="http://stuartrunyan.com">Stuart Runyan</a></p>
            </section>
            <section>
              <h2>Settings</h2>
              <ul class="list">
                <li><a href="#dropbox" class="dropbox">Dropbox</a></li>
              </ul>
            </section>
          </div>
        </div>*/

      </div>
    </script>


    <!--
    JavaScript Magic Fantastic
    -->
    <script type="text/javascript" src="js/libs.min.js"></script>
    <script type="text/javascript" src="js/backbone.min.js"></script>
    <script type="text/javascript" src="js/ui.min.js"></script>
    <script type="text/javascript" src="js/mimir.min.js"></script>
    <script type="text/javascript">

       /* var snapper = new Snap({
            element: document.getElementById('content')
        });
        $('#toggle-left').on('click', function(){
            snapper.open('left');
        });
        $('.title').on('click', function(){
            snapper.close('left');
        });*/

        //var

        // Helper
        /*$ = function(id){
            return document.getElementById(id);
        },*/

        // Instance

        //
        /*UpdateDrawers = function(){
            var state = snapper.state(),
                towards = state.info.towards,
                opening = state.info.opening;
            if(opening=='right' && towards=='left'){
                $('right-drawer').classList.add('active-drawer');
                $('left-drawer').classList.remove('active-drawer');
            } else if(opening=='left' && towards=='right') {
                $('right-drawer').classList.remove('active-drawer');
                $('left-drawer').classList.add('active-drawer');
            }
        };*/

        /*snapper.on('drag', UpdateDrawers);
        snapper.on('animating', UpdateDrawers);
        snapper.on('animated', UpdateDrawers);*/

    </script>

    </body>
</html>
