<%
    // this single line note is to remove whitespace on render
%>
<textarea><% if( note ) { %><%- note %><% } else { %>

	  <p># !! Mímir: Markdown Editor</p>
	  <p>_Hi! This is a markdown editor_</p>
	  <p>What is markdown you ask? Well you can find out more information here; [Markdown](http://daringfireball.net/projects/markdown/)</p>
	  <p>- This</p>
	  <p>- is a</p>
	  <p>- list</p>
	  <p>__Bolded content__</p>
	  <p>~~ and strikethroughs~~</p>

	<% } %>
</textarea>


<div class="preview"></div>
